/*sets background for page*/
body {
	background-image: url("../images/download.JPG");
}

/*formats the title block*/
h1 {
	text-align: center;
	color: white;
	background-color: #010066; 
	padding: 25px 0;
}

/*sizes the picture*/
.pic1 {
	width: 100%
}

/*formats the game area*/
.active {
	background-color: #fff;
	padding: 25px;
    border: 5px solid #010066;
    margin: 0; 
	}

/*centers game text*/
p, h2, h3 {
	text-align: center
}

/*spaces underscores in guess area for readability*/
#word {
	letter-spacing: 10px;
}

